
@mixin box($height,$width){
  height: $height;
  width: $width;
}
.main{
  display:flex;
  margin-top:25px;
}
.message{
  @include box(635px,900px);
  background-color:pink;
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 40px;
  margin-left:25px;
}

