
@mixin box($height,$width){
  height: $height;
  width: $width;
}
.main{
  display:flex;
  margin-top:25px;
}
.message{
  @include box(635px,900px);
  background-color:#77aad7;
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 40px;
  margin-left:25px;
  color: #545454;
  &__header{
    font-size:45px;
    text-align: center;
    margin:10px;
    border-bottom: ridge 6px rgba(39, 26, 44, 0.2);
  }
  &__main{
    margin-left:10px;
    display:flex;
    &__left{
      @include box(450px,450px);
      overflow: scroll;
      &__user{
        &--name{
          font-size:20px;
        }
        &--picture{

        }
      }
      &__text{
        font-size:15px;
        margin-left:15px;
      }
    }
    &__right{
      @include box(300px,400px);
      background-color:#fff;
      font-size:30px;
      border-radius: 50%;
      background-color:#00a497;

    }
  }
}
.page_name{
  @include box(100px,100px);
}
