@mixin box($height,$width){
  height: $height;
  width: $width;
}

.sidebar{
  @include box(635px,450px);
  background-color:#4d639f;
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 40px;
  margin-left:25px;
}
.side-header{
    border-bottom: ridge 6px rgba(39, 26, 44, 0.2);
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    font-size:20px;
}
